@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.container {
    background-color: #fb4e71;
    height: 34vh;
    background-size: cover;
    color: #ffffff;
    font-family: Roboto;
    padding: 14px;
    margin: 5px;
}

.image {
    height: 130px;
    width: 90px;
}

.heading {
    font-size: 28px;
    font-weight: bold;
}

.paragraph {
    font-size: 15px;
}

.heading2 {
    font-size: 16px;
    color: #323f4b;
    font-weight: bold;
}

.card-container {
    background-color: white;
    border-radius: 8px;
}

.container2 {
    padding: 15px;
    background-color: #e6f6ff;
    height: 80vh;
}

.heading3 {
    font-size: 16px;
    color: #323f4b;
    font-weight: bold;
    margin: 5px;
}

.paragraph2 {
    margin: 5px;
    color: #888888;
    font-size: 14px;
}

.heading4 {
    padding: 5px;
}

.card2 {
    margin: 12px;
}

.p1 {
    font-size: 13px;
    color: #323f4b;
}

.btn {
    margin-left: 120px;
}